@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --warm-cream: #EAE6CB;
  --warm-sand: #EBCCDE;
  --warm-teal: #CCE8EB;
  --warm-terracotta: #6B2E52;
  --warm-sage: #968E59;
  --warm-charcoal: #2E676B;
}

html {
  font-size: 18px;
}

body {
  background-color: var(--warm-cream);
}
